In [6]:
import pandas as pd
df_participant = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/dqthon-participants.csv')

# print(df_participant.head())

kode pos

In [7]:
df_participant['postal_code'] = df_participant['address'].str.extract(r'(\d+)$')
# print(df_participant)

kota

In [8]:
df_participant['city'] = df_participant['address'].str.extract(r'(?<=\n)(\w.+)(?=,)')
# print(df_participant)

Transform Bagian III - Github

In [9]:
df_participant['github_profile'] = 'https://github.com/' + df_participant['first_name'].str.lower() + df_participant['last_name'].str.lower()
# print(df_participant)

Transform Bagian IV - Nomor Handphone

In [10]:
df_participant['cleaned_phone_number'] = df_participant['phone_number'].str.replace(r'^(\+62|62)','0')
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'[()-]','')
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'\s+','')
# print(df_participant)

/tmp/ipykernel_1077/3799837151.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_participant['cleaned_phone_number'] = df_participant['phone_number'].str.replace(r'^(\+62|62)','0')
/tmp/ipykernel_1077/3799837151.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'[()-]','')
/tmp/ipykernel_1077/3799837151.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'\s+','')

Transform Bagian V - Nama Tim

In [20]:
def func(col):
    abbrev_name = "%s%s"%(col['first_name'][0],col['last_name'][0]) #Singkatan dari Nama Depan dan Nama Belakang dengan mengambil huruf pertama
    country = col['country']
    abbrev_institute = '%s'%(''.join(list(map(lambda word: word[0], col['institute'].split())))) #Singkatan dari value di kolom institute
    return "%s-%s-%s"%(abbrev_name,country,abbrev_institute)

df_participant['team_name'] = df_participant.apply(func, axis=1)

print(df_participant)

                            participant_id first_name   last_name  \
0     bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a      Citra  Nurdiyanti
1     7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3       Aris    Setiawan
2     19582d7f-b824-4fe5-a517-d5bf573fc768   Cornelia   Handayani
3     aeb6d817-25f3-4867-8a74-8d92e0a0f633      Soleh      Rajasa
4     1fdabdd9-5444-4c97-87b2-fe8833ad0d27       Vivi      Astuti
...                                    ...        ...         ...
4995  5f084245-58cb-4360-8cff-112f06f7214e      Mitra    Latupono
4996  fc6e142a-3f66-4330-9975-8c1dc7f9bb03      Indah   Rahmawati
4997  4521ff9f-4aec-401b-84aa-a4e6fc6549a4      Irsad    Najmudin
4998  1c91596e-427c-44a7-b7d0-974f44e18381      Carla    Nasyidah
4999  5d682e84-bcb5-43e9-8ce0-615364f5376a    Darmana     Maryadi

       birth_date                                            address  \
0     05 Feb 1991           Gg. Monginsidi No. 08\nMedan, Aceh 80734
1     11 Jan 1993     Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434
2     31 Jul 1993             Jalan Kebonjati No. 0\nAmbon, SS 57739
3     04 Nov 1991    Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156
4     22 Jan 2003  Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...
...           ...                                                ...
4995  27 Apr 2000            Jl. Monginsidi No. 5\nCirebon, BB 50268
4996  06 Mar 1996              Gang Joyoboyo No. 73\nBogor, BT 57434
4997  14 Feb 2003   Jalan PHH. Mustofa No. 0\nTanjungbalai, MU 95312
4998  22 Aug 1994  Jl. H.J Maemunah No. 955\nManado, Kepulauan Ba...
4999  09 Feb 2002  Jalan Erlangga No. 76\nBontang, Sulawesi Tengg...

             phone_number      country                            institute  \
0         (0151) 081 2706      Georgia                 UD Prakasa Mandasari
1      +62 (036) 461 7027  Korea Utara               Universitas Diponegoro
2            089 833 6695       Komoro             UD Hardiansyah Puspasari
3      +62 (418) 329-4756      Eritrea            Perum Tampubolon Yuliarti
4              0812511835     Aljazair               PT Hardiansyah Rahimah
...                   ...          ...                                  ...
4995   +62 (050) 795-8398     Hongaria  Institut Teknologi Sepuluh Nopember
4996  +62 (0443) 963 0055     Norwegia               CV Safitri Hastuti Tbk
4997  +62 (0408) 216-7689        Ghana   Universitas Katolik Widya Manadala
4998  +62 (0751) 380 3352       Gambia             CV Permadi (Persero) Tbk
4999   +62 (066) 414 8791    Singapura             Perum Laksita Kuswandari

                          occupation  register_time postal_code          city  \
0     Business Intelligence Engineer   1.617634e+09       80734         Medan
1                  Frontend Engineer   1.617634e+09       09434    Prabumulih
2                   Business Analyst   1.617634e+09       57739         Ambon
3                    DevOps Engineer   1.617634e+09       76156  Lubuklinggau
4                       Data Analyst   1.617634e+09       70074        Kediri
...                              ...            ...         ...           ...
4995  Business Intelligence Engineer   1.617634e+09       50268       Cirebon
4996                   Data Engineer   1.617634e+09       57434         Bogor
4997              Fullstack Engineer   1.617634e+09       95312  Tanjungbalai
4998              Fullstack Engineer   1.617634e+09       80657        Manado
4999                 DevOps Engineer   1.617634e+09       41134       Bontang

                            github_profile cleaned_phone_number  \
0       https://github.com/citranurdiyanti          01510812706
1          https://github.com/arissetiawan          00364617027
2     https://github.com/corneliahandayani           0898336695
3           https://github.com/solehrajasa          04183294756
4            https://github.com/viviastuti           0812511835
...                                    ...                  ...
4995      https://github.com/mitralatupono          00507958398
4996     https://github.com/indahrahmawati         004439630055
4997      https://github.com/irsadnajmudin         004082167689
4998      https://github.com/carlanasyidah         007513803352
4999     https://github.com/darmanamaryadi          00664148791

              team_name                      email
0        CN-Georgia-UPM    citranurdiyanti@upm.com
1     AS-Korea Utara-UD      arissetiawan@ud.ac.ku
2         CH-Komoro-UHP  corneliahandayani@uhp.com
3        SR-Eritrea-PTY        solehrajasa@pty.com
4       VA-Aljazair-PHR         viviastuti@phr.com
...                 ...                        ...
4995   ML-Hongaria-ITSN     mitralatupono@itsn.com
4996   IR-Norwegia-CSHT    indahrahmawati@csht.com
4997      IN-Ghana-UKWM  irsadnajmudin@ukwm.ac.gha
4998     CN-Gambia-CP(T     carlanasyidah@cp(t.com
4999   DM-Singapura-PLK     darmanamaryadi@plk.com

[5000 rows x 16 columns]

Transform Bagian VI - Email

In [22]:
def func(col):
    first_name_lower = col['first_name'].lower()
    last_name_lower = col['last_name'].lower()
    institute = ''.join(list(map(lambda word: word[0], col['institute'].lower().split()))) #Singkatan dari nama perusahaan dalam lowercase

    if 'Universitas' in col['institute']:
        if len(col['country'].split()) > 1: 
            # Kondisi untuk mengecek apakah jumlah kata dari country lebih dari 1
            country = ''.join(list(map(lambda word: word[0], col['country'].lower().split())))

        else:
            country = col['country'][:3].lower()
        return "%s%s@%s.ac.%s"%(first_name_lower, last_name_lower, institute, country)
    
    return "%s%s@%s.com"%(first_name_lower,last_name_lower,institute)

df_participant['email']= df_participant.apply(func, axis=1)

print(df_participant)

                            participant_id first_name   last_name  \
0     bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a      Citra  Nurdiyanti
1     7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3       Aris    Setiawan
2     19582d7f-b824-4fe5-a517-d5bf573fc768   Cornelia   Handayani
3     aeb6d817-25f3-4867-8a74-8d92e0a0f633      Soleh      Rajasa
4     1fdabdd9-5444-4c97-87b2-fe8833ad0d27       Vivi      Astuti
...                                    ...        ...         ...
4995  5f084245-58cb-4360-8cff-112f06f7214e      Mitra    Latupono
4996  fc6e142a-3f66-4330-9975-8c1dc7f9bb03      Indah   Rahmawati
4997  4521ff9f-4aec-401b-84aa-a4e6fc6549a4      Irsad    Najmudin
4998  1c91596e-427c-44a7-b7d0-974f44e18381      Carla    Nasyidah
4999  5d682e84-bcb5-43e9-8ce0-615364f5376a    Darmana     Maryadi

       birth_date                                            address  \
0     05 Feb 1991           Gg. Monginsidi No. 08\nMedan, Aceh 80734
1     11 Jan 1993     Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434
2     31 Jul 1993             Jalan Kebonjati No. 0\nAmbon, SS 57739
3     04 Nov 1991    Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156
4     22 Jan 2003  Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...
...           ...                                                ...
4995  27 Apr 2000            Jl. Monginsidi No. 5\nCirebon, BB 50268
4996  06 Mar 1996              Gang Joyoboyo No. 73\nBogor, BT 57434
4997  14 Feb 2003   Jalan PHH. Mustofa No. 0\nTanjungbalai, MU 95312
4998  22 Aug 1994  Jl. H.J Maemunah No. 955\nManado, Kepulauan Ba...
4999  09 Feb 2002  Jalan Erlangga No. 76\nBontang, Sulawesi Tengg...

             phone_number      country                            institute  \
0         (0151) 081 2706      Georgia                 UD Prakasa Mandasari
1      +62 (036) 461 7027  Korea Utara               Universitas Diponegoro
2            089 833 6695       Komoro             UD Hardiansyah Puspasari
3      +62 (418) 329-4756      Eritrea            Perum Tampubolon Yuliarti
4              0812511835     Aljazair               PT Hardiansyah Rahimah
...                   ...          ...                                  ...
4995   +62 (050) 795-8398     Hongaria  Institut Teknologi Sepuluh Nopember
4996  +62 (0443) 963 0055     Norwegia               CV Safitri Hastuti Tbk
4997  +62 (0408) 216-7689        Ghana   Universitas Katolik Widya Manadala
4998  +62 (0751) 380 3352       Gambia             CV Permadi (Persero) Tbk
4999   +62 (066) 414 8791    Singapura             Perum Laksita Kuswandari

                          occupation  register_time postal_code          city  \
0     Business Intelligence Engineer   1.617634e+09       80734         Medan
1                  Frontend Engineer   1.617634e+09       09434    Prabumulih
2                   Business Analyst   1.617634e+09       57739         Ambon
3                    DevOps Engineer   1.617634e+09       76156  Lubuklinggau
4                       Data Analyst   1.617634e+09       70074        Kediri
...                              ...            ...         ...           ...
4995  Business Intelligence Engineer   1.617634e+09       50268       Cirebon
4996                   Data Engineer   1.617634e+09       57434         Bogor
4997              Fullstack Engineer   1.617634e+09       95312  Tanjungbalai
4998              Fullstack Engineer   1.617634e+09       80657        Manado
4999                 DevOps Engineer   1.617634e+09       41134       Bontang

                            github_profile cleaned_phone_number  \
0       https://github.com/citranurdiyanti          01510812706
1          https://github.com/arissetiawan          00364617027
2     https://github.com/corneliahandayani           0898336695
3           https://github.com/solehrajasa          04183294756
4            https://github.com/viviastuti           0812511835
...                                    ...                  ...
4995      https://github.com/mitralatupono          00507958398
4996     https://github.com/indahrahmawati         004439630055
4997      https://github.com/irsadnajmudin         004082167689
4998      https://github.com/carlanasyidah         007513803352
4999     https://github.com/darmanamaryadi          00664148791

              team_name                      email
0        CN-Georgia-UPM    citranurdiyanti@upm.com
1     AS-Korea Utara-UD      arissetiawan@ud.ac.ku
2         CH-Komoro-UHP  corneliahandayani@uhp.com
3        SR-Eritrea-PTY        solehrajasa@pty.com
4       VA-Aljazair-PHR         viviastuti@phr.com
...                 ...                        ...
4995   ML-Hongaria-ITSN     mitralatupono@itsn.com
4996   IR-Norwegia-CSHT    indahrahmawati@csht.com
4997      IN-Ghana-UKWM  irsadnajmudin@ukwm.ac.gha
4998     CN-Gambia-CP(T     carlanasyidah@cp(t.com
4999   DM-Singapura-PLK     darmanamaryadi@plk.com

[5000 rows x 16 columns]

Transform Bagian VII - Tanggal Lahir

In [24]:
def func(col):
    abbrev_name = "%s%s"%(col['first_name'][0],col['last_name'][0])
    country = col['country']
    abbrev_institute = '%s'%(''.join(list(map(lambda word: word[0], col['institute'].split()))))
    return "%s-%s-%s"%(abbrev_name,country,abbrev_institute)
df_participant['team_name'] = df_participant.apply(func, axis=1)

def func(col):
    first_name_lower = col['first_name'].lower()
    last_name_lower = col['last_name'].lower()
    institute = ''.join(list(map(lambda word: word[0], col['institute'].lower().split())))
    
    if 'Universitas' in col['institute']:
        if len(col['country'].split()) > 1:
            country = ''.join(list(map(lambda word: word[0], col['country'].lower().split())))
        else:
            country = col['country'][:3].lower()
        return "%s%s@%s.ac.%s"%(first_name_lower,last_name_lower,institute,country)
        
    return "%s%s@%s.com"%(first_name_lower,last_name_lower,institute)
    
df_participant['email'] = df_participant.apply(func, axis=1)


df_participant['birth_date'] = pd.to_datetime(df_participant['birth_date'], format='%d %b %Y')

print(df_participant)

                            participant_id first_name   last_name birth_date  \
0     bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a      Citra  Nurdiyanti 1991-02-05
1     7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3       Aris    Setiawan 1993-01-11
2     19582d7f-b824-4fe5-a517-d5bf573fc768   Cornelia   Handayani 1993-07-31
3     aeb6d817-25f3-4867-8a74-8d92e0a0f633      Soleh      Rajasa 1991-11-04
4     1fdabdd9-5444-4c97-87b2-fe8833ad0d27       Vivi      Astuti 2003-01-22
...                                    ...        ...         ...        ...
4995  5f084245-58cb-4360-8cff-112f06f7214e      Mitra    Latupono 2000-04-27
4996  fc6e142a-3f66-4330-9975-8c1dc7f9bb03      Indah   Rahmawati 1996-03-06
4997  4521ff9f-4aec-401b-84aa-a4e6fc6549a4      Irsad    Najmudin 2003-02-14
4998  1c91596e-427c-44a7-b7d0-974f44e18381      Carla    Nasyidah 1994-08-22
4999  5d682e84-bcb5-43e9-8ce0-615364f5376a    Darmana     Maryadi 2002-02-09

                                                address         phone_number  \
0              Gg. Monginsidi No. 08\nMedan, Aceh 80734      (0151) 081 2706
1        Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434   +62 (036) 461 7027
2                Jalan Kebonjati No. 0\nAmbon, SS 57739         089 833 6695
3       Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156   +62 (418) 329-4756
4     Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...           0812511835
...                                                 ...                  ...
4995            Jl. Monginsidi No. 5\nCirebon, BB 50268   +62 (050) 795-8398
4996              Gang Joyoboyo No. 73\nBogor, BT 57434  +62 (0443) 963 0055
4997   Jalan PHH. Mustofa No. 0\nTanjungbalai, MU 95312  +62 (0408) 216-7689
4998  Jl. H.J Maemunah No. 955\nManado, Kepulauan Ba...  +62 (0751) 380 3352
4999  Jalan Erlangga No. 76\nBontang, Sulawesi Tengg...   +62 (066) 414 8791

          country                            institute  \
0         Georgia                 UD Prakasa Mandasari
1     Korea Utara               Universitas Diponegoro
2          Komoro             UD Hardiansyah Puspasari
3         Eritrea            Perum Tampubolon Yuliarti
4        Aljazair               PT Hardiansyah Rahimah
...           ...                                  ...
4995     Hongaria  Institut Teknologi Sepuluh Nopember
4996     Norwegia               CV Safitri Hastuti Tbk
4997        Ghana   Universitas Katolik Widya Manadala
4998       Gambia             CV Permadi (Persero) Tbk
4999    Singapura             Perum Laksita Kuswandari

                          occupation  register_time postal_code          city  \
0     Business Intelligence Engineer   1.617634e+09       80734         Medan
1                  Frontend Engineer   1.617634e+09       09434    Prabumulih
2                   Business Analyst   1.617634e+09       57739         Ambon
3                    DevOps Engineer   1.617634e+09       76156  Lubuklinggau
4                       Data Analyst   1.617634e+09       70074        Kediri
...                              ...            ...         ...           ...
4995  Business Intelligence Engineer   1.617634e+09       50268       Cirebon
4996                   Data Engineer   1.617634e+09       57434         Bogor
4997              Fullstack Engineer   1.617634e+09       95312  Tanjungbalai
4998              Fullstack Engineer   1.617634e+09       80657        Manado
4999                 DevOps Engineer   1.617634e+09       41134       Bontang

                            github_profile cleaned_phone_number  \
0       https://github.com/citranurdiyanti          01510812706
1          https://github.com/arissetiawan          00364617027
2     https://github.com/corneliahandayani           0898336695
3           https://github.com/solehrajasa          04183294756
4            https://github.com/viviastuti           0812511835
...                                    ...                  ...
4995      https://github.com/mitralatupono          00507958398
4996     https://github.com/indahrahmawati         004439630055
4997      https://github.com/irsadnajmudin         004082167689
4998      https://github.com/carlanasyidah         007513803352
4999     https://github.com/darmanamaryadi          00664148791

              team_name                      email
0        CN-Georgia-UPM    citranurdiyanti@upm.com
1     AS-Korea Utara-UD      arissetiawan@ud.ac.ku
2         CH-Komoro-UHP  corneliahandayani@uhp.com
3        SR-Eritrea-PTY        solehrajasa@pty.com
4       VA-Aljazair-PHR         viviastuti@phr.com
...                 ...                        ...
4995   ML-Hongaria-ITSN     mitralatupono@itsn.com
4996   IR-Norwegia-CSHT    indahrahmawati@csht.com
4997      IN-Ghana-UKWM  irsadnajmudin@ukwm.ac.gha
4998     CN-Gambia-CP(T     carlanasyidah@cp(t.com
4999   DM-Singapura-PLK     darmanamaryadi@plk.com

[5000 rows x 16 columns]

Transform Bagian VIII - Tanggal Daftar Kompetisi

In [28]:
df_participant['register_at'] = pd.to_datetime(df_participant['register_time'], unit='s')

print(df_participant)

                            participant_id first_name   last_name birth_date  \
0     bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a      Citra  Nurdiyanti 1991-02-05
1     7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3       Aris    Setiawan 1993-01-11
2     19582d7f-b824-4fe5-a517-d5bf573fc768   Cornelia   Handayani 1993-07-31
3     aeb6d817-25f3-4867-8a74-8d92e0a0f633      Soleh      Rajasa 1991-11-04
4     1fdabdd9-5444-4c97-87b2-fe8833ad0d27       Vivi      Astuti 2003-01-22
...                                    ...        ...         ...        ...
4995  5f084245-58cb-4360-8cff-112f06f7214e      Mitra    Latupono 2000-04-27
4996  fc6e142a-3f66-4330-9975-8c1dc7f9bb03      Indah   Rahmawati 1996-03-06
4997  4521ff9f-4aec-401b-84aa-a4e6fc6549a4      Irsad    Najmudin 2003-02-14
4998  1c91596e-427c-44a7-b7d0-974f44e18381      Carla    Nasyidah 1994-08-22
4999  5d682e84-bcb5-43e9-8ce0-615364f5376a    Darmana     Maryadi 2002-02-09

                                                address         phone_number  \
0              Gg. Monginsidi No. 08\nMedan, Aceh 80734      (0151) 081 2706
1        Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434   +62 (036) 461 7027
2                Jalan Kebonjati No. 0\nAmbon, SS 57739         089 833 6695
3       Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156   +62 (418) 329-4756
4     Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...           0812511835
...                                                 ...                  ...
4995            Jl. Monginsidi No. 5\nCirebon, BB 50268   +62 (050) 795-8398
4996              Gang Joyoboyo No. 73\nBogor, BT 57434  +62 (0443) 963 0055
4997   Jalan PHH. Mustofa No. 0\nTanjungbalai, MU 95312  +62 (0408) 216-7689
4998  Jl. H.J Maemunah No. 955\nManado, Kepulauan Ba...  +62 (0751) 380 3352
4999  Jalan Erlangga No. 76\nBontang, Sulawesi Tengg...   +62 (066) 414 8791

          country                            institute  \
0         Georgia                 UD Prakasa Mandasari
1     Korea Utara               Universitas Diponegoro
2          Komoro             UD Hardiansyah Puspasari
3         Eritrea            Perum Tampubolon Yuliarti
4        Aljazair               PT Hardiansyah Rahimah
...           ...                                  ...
4995     Hongaria  Institut Teknologi Sepuluh Nopember
4996     Norwegia               CV Safitri Hastuti Tbk
4997        Ghana   Universitas Katolik Widya Manadala
4998       Gambia             CV Permadi (Persero) Tbk
4999    Singapura             Perum Laksita Kuswandari

                          occupation  register_time postal_code          city  \
0     Business Intelligence Engineer   1.617634e+09       80734         Medan
1                  Frontend Engineer   1.617634e+09       09434    Prabumulih
2                   Business Analyst   1.617634e+09       57739         Ambon
3                    DevOps Engineer   1.617634e+09       76156  Lubuklinggau
4                       Data Analyst   1.617634e+09       70074        Kediri
...                              ...            ...         ...           ...
4995  Business Intelligence Engineer   1.617634e+09       50268       Cirebon
4996                   Data Engineer   1.617634e+09       57434         Bogor
4997              Fullstack Engineer   1.617634e+09       95312  Tanjungbalai
4998              Fullstack Engineer   1.617634e+09       80657        Manado
4999                 DevOps Engineer   1.617634e+09       41134       Bontang

                            github_profile cleaned_phone_number  \
0       https://github.com/citranurdiyanti          01510812706
1          https://github.com/arissetiawan          00364617027
2     https://github.com/corneliahandayani           0898336695
3           https://github.com/solehrajasa          04183294756
4            https://github.com/viviastuti           0812511835
...                                    ...                  ...
4995      https://github.com/mitralatupono          00507958398
4996     https://github.com/indahrahmawati         004439630055
4997      https://github.com/irsadnajmudin         004082167689
4998      https://github.com/carlanasyidah         007513803352
4999     https://github.com/darmanamaryadi          00664148791

              team_name                      email         register_at
0        CN-Georgia-UPM    citranurdiyanti@upm.com 2021-04-05 14:47:26
1     AS-Korea Utara-UD      arissetiawan@ud.ac.ku 2021-04-05 14:46:58
2         CH-Komoro-UHP  corneliahandayani@uhp.com 2021-04-05 14:47:15
3        SR-Eritrea-PTY        solehrajasa@pty.com 2021-04-05 14:47:14
4       VA-Aljazair-PHR         viviastuti@phr.com 2021-04-05 14:46:50
...                 ...                        ...                 ...
4995   ML-Hongaria-ITSN     mitralatupono@itsn.com 2021-04-05 14:46:16
4996   IR-Norwegia-CSHT    indahrahmawati@csht.com 2021-04-05 14:46:48
4997      IN-Ghana-UKWM  irsadnajmudin@ukwm.ac.gha 2021-04-05 14:46:06
4998     CN-Gambia-CP(T     carlanasyidah@cp(t.com 2021-04-05 14:46:45
4999   DM-Singapura-PLK     darmanamaryadi@plk.com 2021-04-05 14:46:51

[5000 rows x 17 columns]